In [8]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None

In [2]:
# The path to our CSV file
file = "population_total_long.csv"

# Read our Kickstarter data into pandas
df = pd.read_csv(file)
df.head()

  Country Name  Year    Count
0        Aruba  1960    54211
1  Afghanistan  1960  8996973
2       Angola  1960  5454933
3      Albania  1960  1608800
4      Andorra  1960    13411

In [3]:
df.columns

Index(['Country Name', 'Year', 'Count'], dtype='object')

In [7]:
dfP = df.pivot(index='Country Name', columns='Year', values = 'Count')
dfP

Year,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Country Name,,,,,,,,,,,,,,,,,,,,,
Afghanistan,8996973.0,9169410.0,9351441.0,9543205.0,9744781.0,9956320.0,10174836.0,10399926.0,10637063.0,10893776.0,...,27722276.0,28394813.0,29185507.0,30117413.0,31161376.0,32269589.0,33370794.0,34413603.0,35383128.0,36296400.0
Albania,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,1965598.0,2022272.0,2081695.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
Algeria,11057863.0,11336339.0,11619828.0,11912803.0,12221675.0,12550885.0,12902627.0,13275026.0,13663583.0,14061722.0,...,34730608.0,35333881.0,35977455.0,36661444.0,37383887.0,38140132.0,38923687.0,39728025.0,40551404.0,41389198.0
American Samoa,20123.0,20602.0,21253.0,22034.0,22854.0,23672.0,24462.0,25248.0,25989.0,26703.0,...,57492.0,56683.0,56079.0,55759.0,55667.0,55713.0,55791.0,55812.0,55741.0,55620.0
Andorra,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,19647.0,20758.0,21890.0,23058.0,...,83862.0,84463.0,84449.0,83747.0,82427.0,80774.0,79213.0,78011.0,77297.0,77001.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virgin Islands (U.S.),32500.0,34300.0,35000.0,39800.0,40800.0,43500.0,46200.0,49100.0,55700.0,60300.0,...,108399.0,108405.0,108358.0,108292.0,108191.0,108044.0,107884.0,107710.0,107510.0,107268.0
West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3591977.0,3689099.0,3786161.0,3882986.0,3979998.0,4076708.0,4173398.0,4270092.0,4367088.0,4454805.0
"Yemen, Rep.",5315355.0,5393036.0,5473671.0,5556766.0,5641597.0,5727751.0,5816247.0,5907874.0,6001852.0,6097035.0,...,21892146.0,22516460.0,23154855.0,23807588.0,24473178.0,25147109.0,25823485.0,26497889.0,27168210.0,27834821.0
Zambia,3070776.0,3164329.0,3260650.0,3360104.0,3463213.0,3570464.0,3681955.0,3797873.0,3918872.0,4045740.0,...,12848530.0,13215139.0,13605984.0,14023193.0,14465121.0,14926504.0,15399753.0,15879361.0,16363507.0,16853688.0
Zimbabwe,3776681.0,3905034.0,4039201.0,4178726.0,4322861.0,4471177.0,4623351.0,4779827.0,4941906.0,5111337.0,...,12379549.0,12526968.0,12697723.0,12894316.0,13115131.0,13350356.0,13586681.0,13814629.0,14030390.0,14236745.0

In [13]:
dfP50 = dfP.drop(columns=[1960,1961,1962,1963,1964,1965,1966])
dfP50

Year,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Country Name,,,,,,,,,,,,,,,,,,,,,
Afghanistan,10399926.0,10637063.0,10893776.0,11173642.0,11475445.0,11791215.0,12108963.0,12412950.0,12689160.0,12943093.0,...,27722276.0,28394813.0,29185507.0,30117413.0,31161376.0,32269589.0,33370794.0,34413603.0,35383128.0,36296400.0
Albania,1965598.0,2022272.0,2081695.0,2135479.0,2187853.0,2243126.0,2296752.0,2350124.0,2404831.0,2458526.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
Algeria,13275026.0,13663583.0,14061722.0,14464985.0,14872250.0,15285990.0,15709825.0,16149025.0,16607707.0,17085801.0,...,34730608.0,35333881.0,35977455.0,36661444.0,37383887.0,38140132.0,38923687.0,39728025.0,40551404.0,41389198.0
American Samoa,25248.0,25989.0,26703.0,27363.0,27984.0,28567.0,29100.0,29596.0,30052.0,30456.0,...,57492.0,56683.0,56079.0,55759.0,55667.0,55713.0,55791.0,55812.0,55741.0,55620.0
Andorra,20758.0,21890.0,23058.0,24276.0,25559.0,26892.0,28232.0,29520.0,30705.0,31777.0,...,83862.0,84463.0,84449.0,83747.0,82427.0,80774.0,79213.0,78011.0,77297.0,77001.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virgin Islands (U.S.),49100.0,55700.0,60300.0,63476.0,70937.0,76319.0,84121.0,89941.0,94484.0,96166.0,...,108399.0,108405.0,108358.0,108292.0,108191.0,108044.0,107884.0,107710.0,107510.0,107268.0
West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3591977.0,3689099.0,3786161.0,3882986.0,3979998.0,4076708.0,4173398.0,4270092.0,4367088.0,4454805.0
"Yemen, Rep.",5907874.0,6001852.0,6097035.0,6193384.0,6290365.0,6390574.0,6500816.0,6629999.0,6784695.0,6967941.0,...,21892146.0,22516460.0,23154855.0,23807588.0,24473178.0,25147109.0,25823485.0,26497889.0,27168210.0,27834821.0
Zambia,3797873.0,3918872.0,4045740.0,4179067.0,4319224.0,4466174.0,4619546.0,4778724.0,4943283.0,5112823.0,...,12848530.0,13215139.0,13605984.0,14023193.0,14465121.0,14926504.0,15399753.0,15879361.0,16363507.0,16853688.0
Zimbabwe,4779827.0,4941906.0,5111337.0,5289303.0,5476982.0,5673911.0,5877726.0,6085074.0,6293875.0,6502569.0,...,12379549.0,12526968.0,12697723.0,12894316.0,13115131.0,13350356.0,13586681.0,13814629.0,14030390.0,14236745.0